@import 'ember-bootstrap/bootstrap';
@import 'ember-power-select';
@import 'ember-resizable';

$enable-responsive-font-sizes: true;

html,body{
    height:100%;
}
:root {
  --main-scrollbar-color: red;
}
.flex-fill {
    flex:1;
} 
.card-body {
  min-height: auto!important;
}


.dragpanel{
  min-height: 33%!important;
  max-height: 100%!important;  
}

.h-33{
  height: 33%!important;
}

@media (min-width: 576px){
  .pending {
    min-height: 50%!important;
    height: calc(inherit-50%)!important;
    max-height: 100%!important;
  }
}

.listframe{
  max-height: 100% !important;
  overflow-y: auto;
  scrollbar-color: var(--main-scrollbar-color);
}

.listframe::-webkit-scrollbar {
  display: none;
} 

.listheader tr th {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.chatframe, .queueframe, .eventsframe{
  max-height: 100% !important;
  overflow-y: scroll;
  scrollbar-color: var(--main-scrollbar-color);
}

#eventlist > div:first-child, 
#songqueue > div:first-child {
  filter: drop-shadow(0px 1px 2px);
  /* margin-top: 0.75em !important; */
  margin-bottom: 0.6em !important;
}

.eventsframe::-webkit-scrollbar {
  display: none;
} 

.chatframe::-webkit-scrollbar {
  display: none;
} 

.queueframe::-webkit-scrollbar {
  display: none;
}

.chatframe .row:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom-color: rgb(14, 14, 16);
}

.chatframe .row:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgb(14, 14, 16);
}

div.highlight{
  border-left: 4px solid!important;
  padding-left: 11px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75em;
}

div.system{
  border-left: 4px solid!important;
  padding-left: 11px;
  font-size: 0.9em;
  font-weight: 400;
  font-style: italic;  
  line-height: 1.25em;
  color: #721c24;
}

.processed{
  text-decoration: line-through;
}

.rounded-top-right {
    border-top-right-radius: 0.25rem!important;
}
.rounded-top-left {
    border-top-left-radius: 0.25rem!important;
}

.ember-power-select-trigger{
  height: calc(1.5em + 0.75rem + 2px)!important;
  line-height: 2.25em!important;
  font-size: 1rem;
  font-weight: 400;
  color: #6C757D!important;
  border: 1px solid #ced4da!important;
}
.border-form-control{
  border: 1px solid #ced4da!important;
}

.ember-power-select-placeholder {
    color: #6C757D;
}
/*.ember-power-select-status-icon{
  background-color: #ededed;
  line-height: 1.5em;
}*/

.ember-power-select-clear-btn {
 position: static!important;
 background-color: #ffffff;
 display: inline-block;
 width: 1.4em;
 text-align: center;
}

img.twitch-emoticon{
  height: 1.5rem!important;
}
img.twitch-badge{
  height: 1.25rem!important;
}

.bulboff{
  filter: brightness(65%);  
}

div.pan-buttons-row{
  height:  0.7em!important;
  overflow: hidden; 
}
.pan-buttons-row div.row{
  height: inherit;
  overflow: hidden;
}
.pan-buttons-row div.col, .pan-buttons-row div.col-5 {
  height: inherit;
  overflow: hidden;
}

.pan-buttons-row svg{
  margin-top: -0.2em!important;
  vertical-align: top;
  align: center;
}

svg.logo{
 /*fill: gray;*/
 height: 27px;
 width: 27px;
 vertical-align: top;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  background: #efefef;
  border: 1px solid #ced4da;
  outline: none;
  padding: 0px;
  color: #efefef;
  opacity: 1;
  vertical-align: middle;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::hover, .slider:active, .slider:visited {
  opacity: 1;
  background: #ededed;  
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1em;
  height: 2.3em;
  background: #5a6268;
  border-left: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 1em;
  height: 1.5em;
  background: #5a6268;
  border-left: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
  cursor: pointer;
}



.spinner { padding-top: 2px; margin-left: 8px; margin-right: 8px; }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }  
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.spin {
  -webkit-animation: spin 0.75s infinite linear;
  animation: spin 0.75s infinite linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeout {
  -webkit-animation: fadeout 0.5s linear;
  animation: fadeout 0.5s linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeout {
    0%    { opacity: 1; }
    25%   { opacity: 1; }
    50%   { opacity: 1; }
    100%  { opacity: 0; }
}

.chatinput{
  outline: none;
  box-shadow:none !important;
}

.border-trans {
  border-color: rgba(128,128,128, 1)!important;
}

.dropdown-item {
  padding: 0.25rem 0.75rem;
}


span.deleted {
  color: #ccc!important;
  text-decoration: line-through;
}

.text-editstream{
  color: #000;
}

/* Info green */
.event-cheer{
  color: #216c65;
  background-color: #e4fcf8;
  border-color: #216c65;
}

/* Dark purple */
.event-resub{
  color: #251a36;
  background-color: #c3ace2;
  border-color: #251a36;
}
/* Purple */
.event-sub{
  color: #341d5b;
  background-color: #e3ccf2;
  border-color: #341d5b;
}
/* Green */
.event-gift{
  color: #254815;
  background-color: #d1f8ba;
  border-color: #254815;
}
/* Red */
.event-raid{
  color: #721c24;
  background-color: #e8c7ca;
  border-color: #721c24;
}
/* Orange */
.event-host{
  color: #4a290f;
  background-color: #ffd1b0;
  border-color: #4a290f;
}


.helptooltip>div.tooltip-inner{
  max-width: inherit!important;
}