/* @import 'node_modules/bootswatch/dist/slate/_variables.scss'; */
@import 'ember-bootstrap/bootstrap';
@import 'ember-power-select';
/* @import 'node_modules/bootswatch/dist/slate/_bootswatch.scss'; */

$enable-responsive-font-sizes: true;

html,body{
    height:100%;
}
:root {
  --main-scrollbar-color: red;
}
.flex-fill {
    flex:1;
} 

.dragpanel{
  min-height: 33%!important;
  max-height: 100%!important;  
}

.h-33{
  height: 33%!important;
}

@media (min-width: 576px){
  .pending {
    min-height: 50%!important;
    height: calc(inherit-50%)!important;
    max-height: 100%!important;
  }
}

.chatframe, .queueframe{
  max-height: 100% !important;
  overflow-y: scroll;
  scrollbar-color: var(--main-scrollbar-color);
}
.chatframe::-webkit-scrollbar {
} 

.queueframe::-webkit-scrollbar {
}

.chatframe .row:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom-color: rgb(14, 14, 16);
}
.chatframe .row:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgb(14, 14, 16);
}

div.highlight{
  border-left: 4px solid!important;
  padding-left: 11px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75em;
}

.processed{
  text-decoration: line-through;
}

.rounded-top-right {
    border-top-right-radius: 0.25rem!important;
}
.rounded-top-left {
    border-top-left-radius: 0.25rem!important;
}

.ember-power-select-trigger{
  height: calc(1.5em + 0.75rem + 2px)!important;
  line-height: 2.25em!important;
  font-size: 1rem;
  font-weight: 400;
  color: #6C757D!important;
}
.ember-power-select-placeholder {
    color: #6C757D;
}
/*.ember-power-select-status-icon{
  background-color: #ededed;
  line-height: 1.5em;
}*/

.ember-power-select-clear-btn {
 position: static!important;
 background-color: #ffffff;
 display: inline-block;
 width: 1.4em;
 text-align: center;
}

img.twitch-emoticon{
  height: 1.5rem!important;
}
img.twitch-badge{
  height: 1.25rem!important;
}

.bulboff{
  filter: brightness(65%);  
}