<div class="row h-100 flex-fill m-0 p-0">
  <div class="col-12 h-100 flex-fill p-0 m-0">
    {{#if this.globalConfig.config.defOverlay.font}}
      <style>
        body * {
          font-family: {{this.globalConfig.config.defOverlay.font}}!important;
        }
      </style>
    {{/if}}
    {{this.overlayContent}}
  </div>
</div>