{{#if this.globalConfig.showFirstRun}}
  <BsModal @size="md border rounded bg-dark" as |Modal|>
    <Modal.header @closeButton={{false}} class="p-0 m-0 w-100 border-0 rounded">
      <div class="row g-0 w-100 bg-dark bg-gradient border-0 rounded-top">
        <div class="col py-1 ps-3"><span class="h5 text-white"><i class="glyphicon glyphicon-alert"></i>Hello new user!</span></div>
        <div class="col-auto">
          <button type="button" class="btn btn-dark rounded-0 rounded-top-right border-0" {{on "click" (fn this.toggleModal Modal.close)}}><FaIcon @icon="times" /></button>
        </div>
      </div>
    </Modal.header>
    <Modal.body>
      <div class="row">
        <div class="col">
          This is the first time you run Paperbot, in order to make the bot work properly, the first thing you need to do is create a client with your twitch username and oauth, so the bot can connect to the chat and interact with it.        
        </div>
      </div>
    </Modal.body>
    <Modal.footer class="py-2" as |footer|>
      <BsButton @onClick={{fn this.toggleModal Modal.close}} @type="success">Got it!</BsButton>
    </Modal.footer>
  </BsModal>
{{/if}}