<div class="row h-100 flex-fill m-0 p-0">
  <div class="col-12 h-100 flex-fill p-0 m-0 listframe"> 
    {{#if this.globalConfig.config.songQueue}}
      {{#each this.globalConfig.config.songQueue as |song|}}
        <div class="alert-dark border-0 rounded py-0 px-2 my-2 bg-transparent text-white">
          <div class="alert-heading h4">{{song.song}}</div>
          <div class="row">
            <div class="col h6">{{nicer-date song.timestamp format="YYYY/MM/DD HH:mm:ss"}}</div>
            <div class="col-auto h6">{{song.user}}</div>
          </div>
        </div>
      {{/each}}
    {{else}}
      <div class="alert-dark border-0 rounded py-0 px-2 my-2 bg-transparent text-white">
        <div class="alert-heading h4">The queue is empty.</div>
      </div>
    {{/if}}
  </div>
</div>